.payment-method-wrapper{
    width: 95%;
}
.payment-method-option{
    
    background-color: #efefef;
    width: 100%;
    height: 100%;
    border-radius: 5px;
    align-items: center;
    justify-content: center;
    display: flex;
    padding: 5px;
    font-size: 14px;
    font-family: system-ui;
}
.payment-method-option:hover{
    color: white;
    background-color: #000000ab;
    cursor: pointer;
}
.products-payment-container{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3rem;
}
.popular-products-text{
    width: 72%;
    padding-left: 25px;
    font-size: 23px;
    margin-top: 15px;
    font-family: serif;
    font-weight: 400;
}

.no-products-incart-text{

    font-size: 17px;
    color: black;
}
.empty-cart-image{
    width: 150px;
    height: 150px;
    border-radius: 50%;
}
.cart-message-container{

    width: 100%;
    height: 336px;
    align-items: center;
    display: inline-grid;
    align-content: center;
    justify-content: center;
    justify-items: center;
    gap: 5px;
    background-color: #c7c5c3;
}

.no-products-in-cart-container{
    
    border-radius: 50%;
    width: 471px;
    height: 260px;
    align-items: center;
    display: inline-grid;
    align-content: center;
    justify-content: center;
    justify-items: center;
}
.product-options-cart-container{

    width: 100%;
    height: auto;
    justify-content: center;
    align-items: center;
    gap: 4rem;
    display: flex;
    text-decoration: none;
    margin-top: 1rem;
    z-index: 0;
    margin-bottom: 1rem;
}

.product-options-cart-text{

    display: inline-flex;
    font-size: 14px;
    font-family: serif;
    font-weight: 100;
    color: rgb(12, 78, 139);
    user-select: none;
    text-decoration: none;
    
}

.remove-product-from-cart-button-container, .add-product-from-cart-button-container , .details-product-from-cart-button-container{

    position: relative;
    z-index: 5;
    align-items: center;
    display: inline-flex;
    border-radius: 5px;
    height: auto;
    justify-content: center;
    text-decoration: none;
}

.product-options-cart-text:hover{
    cursor: pointer;
    color: #1ac3e0;
}

.details-product-from-cart-button-container a{
    text-decoration: none;
    align-items: center;
    display: flex;
    justify-content: center;
}

.product-name-image-container{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    width: 60%;
}

.payment-method-container{

    display: inline-flex;
    gap: 20px;
    align-items: center;
    width: 91%;
    padding: 1rem;
}

.payment-method-title{
    font-size: 14px;
    color: black;
    
}
.payment-method-options-container{

    color: #0379b3;
    font-size: 13px;
    gap: 1rem;
    display: inline-flex;
    flex-direction: column;
    margin-top: 1rem;
    width: 100%;
    height: 7rem;
}

.cart-product-image{
    width: 25%;
    height: auto;
    border-radius: 15px;
}

.products-items-cart-wraper{

    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.cart-product-quantity{

    font-weight: bold;
    color: rgb(255 255 255);
    font-size: 19px;
    font-family: sans-serif;
    background-color: #10a4c3;
    border-radius: 50%;
    width: 25px;
    height: 25px;
    justify-content: center;
    text-align: center;
    display: inline-flex;
    align-items: center;
}

.cart-product-name {

    font-family: serif;
    font-weight: 400;
    color: #000000;
    width: 64%;
    font-size: 64%;
    line-height: 116%;
}

.unit-price-cart{

    font-family: serif;
    font-size: 93%;
    color: rgb(0 0 0);
    font-weight: 400;

}
.cart-icon-in-cart {

    fill-opacity: 50%;
    opacity: 50%;
    height: 35px;
    width: 35px;

}
.buttons-scroll-cart {

    display: inline-grid;
    padding: 3rem;
    gap: 5px;
    width: 30px;
    justify-content: center;
}

.cart-checkout{

    background-color: transparent;
    height: fit-content;
    width: 20%;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.89) 0px 1px 5px -3px;
    color: white;
    font-size: 18px;
    font-weight: bold;
    min-width: 250px;

}

.cart-checkout-title{

    background-color: #000000ab;
    height: 39px;
    align-items: center;
    justify-content: center;
    display: flex;
    color: #ffffff;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.cart-checkout-pay-button{
    
    border-radius: 12px;
    border: 0;
    background-color: rgb(205 224 241 / 0%);
    font-size: 15px;
    font-weight: bold;
    color: rgb(0 0 0);
    box-shadow: rgb(0 0 0 / 22%) 0px 0px 8px 1px;
    width: 4rem;
    height: 2rem;
    margin-right: 1rem;
}

.cart-checkout-pay-button-container{

    margin-top: 1rem;
    margin-bottom: 1rem;
    width: 100%;
    height: auto;
    align-items: center;
    display: flex;
    justify-content: flex-end;
    border-radius: 20px;
}


.vertical-scroll-down {

    background-color: rgb(229, 235, 236);
    width: 40px;
    height: 40px;
    align-items: center;
    justify-content: center;
    border-radius: 60%;
    display: inline-flex;
    border: 0.00003px solid rgb(235, 235, 235);
    
}
.vertical-scroll-up {

    background-color: rgb(229, 235, 236);
    width: 40px;
    height: 40px;
    align-items: center;
    justify-content: center;
    border-radius: 60%;
    display: inline-flex;
    border: 0.00003px solid rgb(235, 235, 235);
    
}

.vertical-scroll-down:hover, .vertical-scroll-up:hover{

    background-color: rgb(205, 224, 241);
    cursor: pointer;
}

.vertical-scroll-up svg {
    transform: rotate(180deg);
}

.vertical-scroll-down svg {
    transform: rotate(0deg);
}

.total-products-in-cart{

    gap: 5px;
    font-size: 22px;
    font-weight: bold;
    display: inline-flex;
    background: #000000ab;
    height: 39px;
    align-items: center;
    justify-content: center;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
.text-cart {
    color:white
}
.total-products-in-cart label {

    font-weight: 400;
    color: white;
    font-size: 15px;
}

.product-data-container-cart{

    width: 90%;
    justify-content: center;
    align-items: center;
    display: inline-flex;
    gap: 20px;
    margin-top: 30px;
    background-color: var(--background-card);
}

.product-data-container-cart a{
    align-items: center;
    display: flex;
    gap: 1rem;
    text-decoration: none;
}

.product-info-item-cart{

    width: 100%;
    height: auto;
    display: inline-flex;
    flex-direction: column;
    gap: 11%;
    border-bottom: groove;
    border-color: #fbfbfb;
    border-width: 0.1px;
    align-items: center;
    justify-content: center;
}

.product-list-in-cart-container {

    display: inline-flex;
    height: fit-content;
    width: 100%;
    flex-wrap: wrap;
    gap: 1px;
    align-items: center;
    overflow-y: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
    justify-items: center;
    align-content: flex-start;
    justify-content: center;
    transition: all 0.3s ease-in-out;
    scroll-behavior: smooth;
}


.product-list-in-cart-container::-webkit-scrollbar {

    display: none;
}

.total-price-in-cart {

    border-width: 1px;
    font-size: 21px;
    text-align: end;
    display: flex;
    gap: 5px;
    justify-content: right;
    height: 43px;
    align-items: center;
    padding-right: 22px;
    border-end-end-radius: 5px;
    border-end-start-radius: 5px;
}

.total-price-in-cart label{

    color: rgb(10, 83, 143);
}

.buy-products-container {

    font-family: sans-serif;
    font-size: 25px;
    font-weight: 800;
    height: auto;
    width: 50%;
    display: grid;
    box-shadow: rgba(0, 0, 0, 0.89) 0px 1px 5px -3px;
    justify-content: center;
    align-content: center;
    margin-top: 50px;
    
}

.cart-page {

    min-height: 740px;
    align-items: center;
    margin-bottom: 100px;
    margin-top: 20px;
    gap: 20px;
    justify-content: center;
    display: flex;
    flex-direction: column;


}

.product-item-cart {

    text-align: center;
    border-radius: 50%;
    width: 150px;
    height: 122px;
    
}

.button-product-remove {

    background-color: rgb(248, 32, 3);
    border-radius: 30px;
    text-align: center;
    justify-items: center;
    font-size: 16px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-left: -73px;
    width: 83px;
    height: 30px;
    border: 0;
    color: white;  
}



.products-list-container-cart::-webkit-scrollbar {

    display: none;
}

.product-name{

    color: white;
    text-align: left;
    font-size: 11px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.product-price {
    
    font-family: Bogle,Helvetica Neue,Helvetica,Arial,sans-serif;
    font-size: 11px;
    font-weight: bold;
    width: 98px;
    height: 20px;
    margin-top: 5px;
    text-align: left;
    color: white;
}

@media (min-width:280px) and (max-width:900px) {

    .products-payment-container{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .buy-products-container{
        width: 95%;
    }
    .cart-product-image{
        width: 50%;
    }
    .unit-price-cart{
        font-size: 65%;
    }
    .product-options-cart-container{
        gap: 1.5rem;
    }
    .cart-checkout{
        width: 95%;
    }
}
