
.footer-container {

    background-color: transparent;
    position: relative;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 250px;
    display: inline-flex;
    align-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 40px;
    justify-content: left;
}                       

.footer-info {

    padding: 30px;
    width: 250px;
    color: rgb(0, 0, 0);
    padding-left: 100px;
    font-size: 17px;
}

.social-media-icon{
    width: 50px;
    height: 50px;
}

.social-media-container{

    gap: 10px;
    display: flex
}

@media ( max-width: 480px) {

    .footer-info{
        padding: 30px;
        font-size: 8px;
        width: auto;
    }
    .social-media-icon{
        width: 25px;
        height: 25px;
    }
    .footer-container{
        height: 100px;
        border: 0;
        justify-content: left;
    }
}
   