
.footer-container {

    background-color: rgb(221 230 241);
    position: relative;
    left: 0;
    bottom: 0;
    width: 100%;
    color: white;
    height: 150px;
    display: inline-flex;
    align-content: center;
    flex-wrap: wrap;

}                       

.footer-info {

    padding: 30px;
    width: 200px;
    color: rgb(31, 92, 143);
    padding-left: 100px;
    font-size: 15px;
}