.walmart-link{
    text-decoration: none;
    color: rgb(2 185 255 / 82%);
    font-weight: 600;
}

.footer-contact-me{
    gap: 0.5rem;
    display: flex;
}

.footer-my-info{
    width: 30%;
    max-width: 425px;
    justify-content: left;
    display: flex;
    font-size: 18px;
    font-family: serif;
    line-height: 1.5rem;
    gap: 1rem;
    flex-wrap: wrap;
    align-items: baseline;
    align-content: flex-start;
    margin-left: 4rem;
    height: 200px;
    padding: 1rem;
    margin-bottom: 1rem;
}

.footer-title{
    width: 100%;
    justify-content: center;
    display: flex;
    align-items: center;
    font-weight: 600;
    margin-top: 1rem;
}

.footer-disclaimer{
    align-items: baseline;
    font-size: 18px;
    font-family: serif;
    width: 28%;
    max-width: 530px;
    line-height: 1.5rem;
    justify-content: left;
    display: inline-grid;
    gap: 1rem;
    height: auto;
    padding: 1rem;
    margin-bottom: 1rem;
}

.footer-container {

    background-color: rgb(245, 245, 245);
    position: relative;
    left: 0;
    bottom: 0;
    width: 100%;
    max-height: 530px;
    display: inline-flex;
    align-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 40px;
    justify-content: center;
    gap: 4rem;
    
}                       

.footer-info {

    padding: 30px;
    width: 250px;
    color: rgb(0, 0, 0);
    padding-left: 100px;
    font-size: 17px;
}

.social-media-icon{
    width: 50px;
    height: 50px;
}

.social-media-container{

    gap: 10px;
    display: flex
}




@media ( min-width:280px) and (max-width: 480px) {

    .footer-info{
        padding: 30px;
        font-size: 8px;
        width: auto;
    }
    .social-media-icon{
        width: 25px;
        height: 25px;
    }
    .footer-container{
        border: 0;
        align-content: baseline;
        gap: 0.1rem;
        justify-content: center;
        align-items: center;
    }
    .footer-my-info{
        width: 100%;
        height: auto;
        max-width: 280px;
        margin-left: 0;
        margin-bottom: 0;
    }
    .footer-disclaimer{
        max-width: 280px;
        width: 100%;
        margin-bottom: 0;
    }
}
   