
.field-error-container-login{
    color: red;
    font-size: 14px;
    font-family: serif;
    font-weight: 500;
    width: 308px;
    justify-content: center;
    display: inline-flex;
    gap: 1px;
    flex-direction: column;
    align-items: center;
}

.register-link-text{
    color: rgb(35, 100, 221);
    text-decoration: none;
}

.register-link-container{
    font-size: 17px;
    font-family: serif;
    display: flex;
    gap: 5px;
    text-decoration: none;
}

.login-window-submit-button{
    background-color: rgb(34, 133, 199);
    width: 100px;
    height: 35px;
    color: white;
    border-radius: 5px;
    align-items: center;
    display: inline-flex;
    justify-content: center;
    cursor:pointer;
    font-size: 18px;
    font-family: serif;
    box-shadow: rgba(32, 33, 36, 0.28) 0px 1px 6px 0px;
    border: 0;
}
.login-inputs-container {
    gap: 20px;
    display: inline-grid;
    align-items: center;
    justify-content: center;
    justify-items: center;
    width: 100%;


}

.login-inputs-container input{
    width: 200px;
    height: 30px;
    border-radius: 5px;
    color: rgb(46, 44, 44);
    border: 0;
    box-shadow: rgba(32, 33, 36, 0.28) 0px 1px 6px 0px;
}

.login-inputs-container input:focus {
   
    outline: 0.1px solid rgb(201, 201, 201);
    
}

.login-inputs-container input::placeholder{
    color: rgb(175, 174, 174);
}

.login-window-background{
    width: 100vw;
    height: 300vh;
    background-color: rgba(0, 0, 0, 0.822);
    z-index: 6;
    position: absolute;
    top: 0;
}

.login-window{
    
    width: 364px;
    height: 300px;
    border-radius: 5px;
    box-shadow: rgba(32, 33, 36, 0.28) 0px 1px 6px 0px;
    position: absolute;
    background-color: #eef0f1;
    top: 17vw;
    left: 72vh;
    z-index: 6;
    align-items: center;
    justify-content: center;
    display: flex;
}

.link-favorites{
    width: 30px;
    height: 30px;
    align-items: center;
    justify-content: center;
    text-align: center;
    display: flex;
    position: static;
    display: flex;
    background: transparent;
    padding: 11px
}

.link-favorites svg{
    fill: rgb(151, 151, 151);
}

.header {
    height: 90px;
    display: flex;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 1;
    width: 100%;
}

.products-in-cart{

    font-size: 17px;
    font-weight: 500;
    width: 24px;
    height: 24px;
    color: #05567c;
    position: relative;
    bottom: 0;
    right: 21px;
    bottom: 6px;
    background: #dfdede;
    border-radius: 50%;
    text-align: center;
    display: inline-table;
    align-items: center;
    text-decoration: none;
    align-content: center;
}

.svg-cart{
    width: 40px;
    height: 40px;
}
.cart-shop-icon{

    width: 30px;
    height: 30px;
}

.scope-icon {

    color: snow;
    width: 25px;
    height: 25px;
    display: block;
    top: 0;
    fill: #878686;
    
}

.search-button {

    background-color: #dbdada;
    height: 42px;
    width: 62px;
    border: 0;
    margin-left: -12px;
    border-start-end-radius: 20px;
    border-end-end-radius: 20px;
    justify-content: center;
    display: grid;
    align-items: center;
    right: -62px;
    position: absolute;
    border: 0.1px solid #818181;
}

.search-button-container {
    
    align-items: center;
    display: flex;
}


.search-button:hover {

    cursor: pointer;
    background-color: rgb(225, 226, 226);
    
}
.logo-image {

    border-radius: 50px;
}

.logo-name {

    display: inline-flex;
    gap: 7px;

}
.logo-container {
    
    text-decoration: none;
    display: inline-flex;
    font-size: 20px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: rgb(0 89 153);
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-left: 40px;
    margin: 0 auto;
}

.login-button {

    background-color: rgb(34, 133, 199);
    height: 32px;
    width: 100px;
    height: 35px;
    color: white;
    border-radius: 5px;
    align-items: center;
    display: inline-flex;
    justify-content: center;
    margin-right: 50px;
    margin-left:197px;
    cursor:pointer;
    font-size: 18px;
    font-family: serif;
}

.login-button:hover{
    background-color: #0c6ea3;
}

.user-options-button-container {

    margin-right: 60px;
    display: flex;
    align-items: center;
    gap: 30px;
    margin: 0 auto;

    
}   

.expand-user-options-button {

    height: 50px;
    width: 50px;
    border: 0;
    background-color: transparent;

}
.expand-user-options-button:hover {

    cursor:pointer;
    
}

.user-image {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}
.header-container {
    
    height: 90px;
    display: flex;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 1;
    width: 100vw;
    background-color: transparent
}

.input-box-style {

    background-color: transparent;
    color: black;
    border-width: 0;
    width: 100%;
    height: 20px;
    position: relative;
    font-size:15px;
    border-radius: 20px;
}

.input-box-style:focus {
    
    outline: 0
}

::placeholder { 
    color: rgb(68, 66, 66);
    opacity: 1;
  }

.input-box-container {

    width: 672px;
    height: 20px;
    margin: 0 auto;
    padding: 10px;
    position: relative;
    display: flex;
    align-items: center;
    border: 0.01px solid #b1afaf;
    border-radius: 20px;
    border-end-end-radius: 0px;
    border-start-end-radius: 0px;
    margin-top: -224px;
    transition: all 1s ease-in-out;
}

.input-box-container-no-login{
    width: 672px;
    height: 20px;
    margin-right: 43px;
    padding: 10px;
    position: relative;
    display: flex;
    align-items: center;
    border: 0.01px solid #b1afaf;
    border-radius: 20px;
    border-end-end-radius: 0px;
    border-start-end-radius: 0px;
    margin-top: -224px;
    transition: all 1s ease-in-out;
}

.input-box-container:hover{
    border: 0.01px solid #0c6ea3;
}

.input-box-container:target{
    border: 0.01px solid #0c6ea3;
}
.link-to-cart{
    display: inline-flex;
    text-decoration: none;
}

.cart-container{
    width:"50px";
    height:"50px";
    text-decoration: "none";
    align-items: "center";
    display:"flex";
}

@media(max-width: 2560px){
    .input-box-container{
        width: 46%;
    }
    
}


@media(max-width:1000px){
    .input-box-container {
        width: 40%;
    }
}

@media ( max-width: 592px ) {
    .input-box-container {
        width: 200px;
    }
    .input-box-container-no-login {
        width: 200px;
    }
    .input-box-style{
        width: 150px;
    }
    .user-options-button-container{
        margin-right: 0;
        gap: 11px;
    }
    .products-in-cart{
        width: 20px;
        height: 20px;
    }
    .link-to-cart{
        display: inline-flex;
        text-decoration: none;
    }
    .search-button{
        margin-left: 0px;
    }
}

@media ( min-width: 320px ) and ( max-width: 609px ) {
    
    .header-container{
        gap: 20px;
        justify-content: center;
    }
    .input-box-container {
        width: 79px;
        height: 5px;
        margin-right: 15px;
    }
    .logo-image{
        width: 30px;
        height: 30px;
        margin-left: 7px;
    }
    .input-box-style{
        width: 85px;
        font-size: 10px;
    }
    .search-button{
        width: 36px;
        height: 27px;
        right:-36px
    }
    .scope-icon{
        width: 15px;
        height: 15px;
    }
    .user-options-button-container{
        margin-right: 0;
        gap: 1px;
    }
    .user-image{
        width: 30px;
        height: 30px;
    }
    .cart-shop-icon{
        width: 25px;
        height: 25px;
    }
    .products-in-cart{
        width: 20px;
        height: 20px;
        right: 14px;
        bottom: 4px;
        display: inline-grid;
        font-size: 13px;
    }
    .login-button{
        width: 50px;
        height: 25px;
        font-size: 12px;
        margin-right:0;
        margin-left: 28px;
    }
    .logo-container{
        width: 20px;
        height: 20px;
        margin-left: 15px;
        font-size: 18px;
        margin: 0
    }
    .login-window{
        top: 90px;
        left: 27px;
        width: 265px;
        height: 250px;
    }
    .register-link-container{
        font-size: 14px;
    }
    .login-window-submit-button{
        width: 67px;
        height: 25px;
        font-size: 16px;
    }
    .login-inputs-container input {
        width: 175px;
        height: 26px;
        font-size: 11px;
    }
    .logo-name{
        gap:0
    }
    .link-favorites{
        width: 20px;
        height: 20px;
    }
    .svg-cart,.user-image{
        width: 25px;
        height: 25px;
    }
    .cart-container{
        width: 25px;
        height: 25px;
    }
    .input-box-container-no-login{
        width: 79px;
        height: 5px;
        margin-right: 15px;
    }
    
}