

.field-error-container-login{
    color: red;
    font-size: 14px;
    font-family: serif;
    font-weight: 500;
    width: 308px;
    justify-content: center;
    display: inline-flex;
    gap: 1px;
    flex-direction: column;
    align-items: center;
}

.register-link-text{
    color: rgb(35, 100, 221);
    text-decoration: none;
}

.register-link-container{
    font-size: 17px;
    font-family: serif;
    display: flex;
    gap: 5px;
    text-decoration: none;
}

.login-window-submit-button{
    background-color: rgb(34, 133, 199);
    width: 100px;
    height: 35px;
    color: white;
    border-radius: 5px;
    align-items: center;
    display: inline-flex;
    justify-content: center;
    cursor:pointer;
    font-size: 18px;
    font-family: serif;
    box-shadow: rgba(32, 33, 36, 0.28) 0px 1px 6px 0px;
    border: 0;
}
.login-inputs-container {
    gap: 20px;
    display: inline-grid;
    align-items: center;
    justify-content: center;
    justify-items: center;
    width: 100%;


}

.login-inputs-container input{
    width: 200px;
    height: 30px;
    border-radius: 5px;
    color: rgb(46, 44, 44);
    border: 0;
    box-shadow: rgba(32, 33, 36, 0.28) 0px 1px 6px 0px;
}

.login-inputs-container input:focus {
   
    outline: 0.1px solid rgb(201, 201, 201);
    
}

.login-inputs-container input::placeholder{
    color: rgb(175, 174, 174);
}

.login-window-background{
    width: 300vw;
    height: 300vh;
    background-color: rgba(0, 0, 0, 0.822);
    z-index: 6;
    position: absolute;
    top: 0;
    left: 0;
}

.login-window{
    
    border-radius: 5px;
    box-shadow: rgba(32, 33, 36, 0.28) 0px 1px 6px 0px;
    position: fixed;
    background-color: #eef0f1;
    z-index: 6;
    align-items: center;
    justify-content: center;
    display: flex;
    width: 290px;
    height: 270px;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    bottom: 40%;
}

.link-favorites{
    width: 30px;
    height: 30px;
    align-items: center;
    justify-content: center;
    text-align: center;
    display: flex;
    position: static;
    display: flex;
    background: transparent;
}
.link-favorites:hover{
    cursor: pointer;
}
.link-favorites svg{
    fill: rgb(151, 151, 151);
}

.header {
    height: 90px;
    display: flex;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 1;
    width: 100%;
    justify-content: center;
}

.products-in-cart{

    font-size: 17px;
    font-weight: 500;
    width: 24px;
    height: 24px;
    color: #05567c;
    position: relative;
    bottom: 0;
    right: 21px;
    bottom: 6px;
    background: #dfdede;
    border-radius: 50%;
    text-align: center;
    display: inline-table;
    align-items: center;
    text-decoration: none;
    align-content: center;
}

.svg-cart{
    width: 40px;
    height: 40px;
}
.cart-shop-icon{

    width: 30px;
    height: 30px;
}

.scope-icon {

    width: 25px;
    height: 25px;
    display: block;
    top: 0;
    fill: #878686;
    
}

.search-button {

    background-color: #dbdada;
    height: 42px;
    width: 62px;
    border-start-end-radius: 20px;
    border-end-end-radius: 20px;
    justify-content: center;
    display: grid;
    align-items: center;
    border: 0.1px solid #818181;
}

.search-button-container {
    
    align-items: center;
    display: flex;
}


.search-button:hover {

    cursor: pointer;
    background-color: rgb(225, 226, 226);
    
}
.logo-image {

    border-radius: 50px;
}

.logo-name {

    display: inline-flex;
    gap: 7px;

}
.logo-container {
    
    text-decoration: none;
    display: inline-flex;
    font-size: 20px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: rgb(0 89 153);
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    
}

.login-button {

    background-color: rgb(34, 133, 199);
    width: 88px;
    height: 35px;
    color: white;
    border-radius: 5px;
    align-items: center;
    display: inline-flex;
    justify-content: center;
    cursor: pointer;
    font-size: 18px;
    font-family: serif;
    padding: 5px;
}

.login-button:hover{
    background-color: #0c6ea3;
}

.user-options-button-container {

    display: flex;
    align-items: center;
    gap: 0px;
}   

.expand-user-options-button {

    height: 50px;
    width: 50px;
    border: 0;
    background-color: transparent;
}
.expand-user-options-button:hover {

    cursor:pointer;
}

.user-image {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}
.header-container {
    height: 90px;
    display: flex;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 1;
    width: 100vw;
    background-color: var(--background-header);
    justify-content: space-between;
    box-shadow: rgba(0, 0, 0, 0.89) 0px 1px 5px -3px;
    padding-right: 4vw;
    padding-left: 4vw;
}


.input-box-style {

    align-items: center;
    display: flex;
    width: 100%;
    height: 38px;
    border: 0.01px solid #b1afaf;
    background: transparent;
    border-bottom-left-radius: 20px;
    border-top-left-radius: 20px;
    padding-left: 10px;
}

.input-box-style:focus {
    
    outline: 0
}

::placeholder { 
    color: rgb(68, 66, 66);
    opacity: 1;
  }

.input-box-container {

    width: 30vw;
    height: 20px;
    padding: 10px;
    position: relative;
    display: flex;
    align-items: center;
    border-radius: 20px;
    border-end-end-radius: 0px;
    border-start-end-radius: 0px;
    margin-top: -224px;
    transition: all 1s ease-in-out;
}

.input-box-container-no-login{
    width: 38vw;
    height: 20px;
    padding: 10px;
    position: relative;
    display: flex;
    align-items: center;
    border-radius: 20px;
    border-end-end-radius: 0px;
    border-start-end-radius: 0px;
    margin-top: -224px;
    transition: all 1s ease-in-out;
}

.input-box-container:target{
    border: 0.01px solid #0c6ea3;
}
.link-to-cart{
    display: inline-flex;
    text-decoration: none;
    padding-left: 30px;
}

.cart-container{
    text-decoration: none;
    display: inline-grid;
}
.input-logo-container{
    display: contents;
}


@media ( min-width: 280px) and (max-width: 608px ) {
    .login-button{
        width: 50px;
        height: auto;
    }
    .header{
        height: auto;
        display: flex;
        position: sticky;
        top: 0;
        z-index: 1;
        justify-content: center;
        padding-top: 1rem;
        padding-bottom: 1rem;
        background-color: white;
        box-shadow: rgba(0, 0, 0, 0.89) 0px 1px 5px -3px;
    }
    .header-container{
        height: 167px;
        display: contents;
        position: sticky;
        top: 0;
        z-index: 1;
        background-color: transparent;
    }
    .input-box-container{
        width: 75vw;
        height: auto;
        border: 0;
    }
    .input-box-style{
        height: 20px;
        border: 1px solid #00000040;
        font-size: 10px;
    }
    .search-button{
        border: 1px solid #00000040;
        height: auto;
        width: 100%;
    }
    .scope-icon{
        width: 18px;
        height: 20px;
        display: block;
        fill: #000000;
    }
    .user-options-button-container{
        flex-direction: column;
        justify-content: right;
        border-radius: 10px;
        padding: 3px;
        align-items: center;
        gap: 0;
        margin-right: 0;
        margin: 0;
    }
    .link-favorites{
        width: 1.6rem;
        height: auto;
    }
    .svg-cart{
        width: 2rem;
        height: auto;
    }
    .user-image{
        width: 2rem;
        height: auto;
    }
    .products-in-cart{
        font-size: 12px;
        width: 17px;
        height: 17px;
        color: #000000;
        background: #d0d0d0;
        border-radius: 50%;
        text-align: center;
        position: relative;
        right: 3vw;
        bottom: 0vh
    }
    .input-logo-container{
        justify-content: center;
        display: inline-grid;
    }
    .cart-container{
        width: 72%;
    }
    .input-box-container-no-login{
        width: auto;
        padding-right: 20px;
        padding-top: 10px;
        padding-left: 20px
    }
    .link-to-cart{
        padding-left: 0;
    }
}