
.add-to-favorites-container-home{
    border-radius: 50%;
    width: 30px;
    height: 30px;
    align-items: center;
    justify-content: center;
    text-align: center;
    display: flex;
    position: relative;
    top: 31px;
    left: 158px;
    display: flex;
    background: #edeeef;
}

.added-favorite-container{

    border-radius: 50%;
    width: 30px;
    height: 30px;
    align-items: center;
    justify-content: center;
    text-align: center;
    display: flex;
    position: relative;
    top: 41px;
    left: 158px;
    display: flex;
    background: #edeeef;
}
.added-favorite-container svg{

    width: 45px;
    height: 45px;
    
}

.added-favorite-container path{
    fill: rgb(49 144 187);
}
.add-to-favorites-container-home svg{
    width: 25px;
    height: 25px;
    fill: rgb(49 144 187)
    
}

.home-navigate-product-types{
    display: inline-flex;
    gap: 10px;
    margin-bottom: 30px;
}

.navigate-product-type-home:hover{
    background-color: rgb(233, 233, 233);
    cursor: pointer;
    color: black;
    border: 0.1px solid rgb(185, 185, 185);
    
}

.navigate-product-type-home{

    height: 27px;
    width: 120px;
    background-color: rgb(248, 248, 248);
    color: #000000;
    border-radius: 10px;
    align-items: center;
    justify-content: center;
    display: inline-flex;
    font-size: 17px;
    font-family: serif;
    box-shadow: rgba(0, 0, 0, 0.89) 0px 1px 5px -3px;
    font-weight: 500;
    border: 0.1px solid transparent;
    position: relative;
    transition: all 0.2s ease-in-out;
    top: -200px;
}



.cards-container{
    justify-content: center;
    display: inline-flex;
    gap: 35px;
}

.cards-text{
    font-size: 29px;
    color: white;
    font-family: sans-serif;
}

.tvs-card, .home-card{

    background-color: #cfcece;
    height: 600px;
    width: 800px;
    border-radius: 20px;
    font-size: 35px;
    justify-content: center;
    display: grid;
    text-align: center;
    justify-items: center;
}

.tvs-card-image, .home-card-image{

    width: 800px;
    height: 500px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}
.popular-products-product-name{

    text-align: left;
    font-size: 15px;
    font-family: sans-serif;
    width: 183px;
    padding-left: 20px;
    padding-right: 20px;
}

.home-product-image{

    width: 140px;
    height: 140px;
    border-radius: 15px;
    margin-top: 10px;
}

.title-popular-products-home{

    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: left;
    font-size: 17px;
    margin-left: 40px;
    font-weight: bold;
    padding-top: 30px;
    padding-bottom: 30px;

}

.popular-product-item {

    text-align: center;
    width: 220px;
    height: 400px;
    background-color: #edeeef;
    border-radius: 15px;
    margin-top: 10px;
    margin-bottom: 10px;
    box-shadow: 0 1px 1px 1px #00000026;
}

.popular-products-home {
    
    display: inline-flex;
    min-height: 300px;
    width: 1370px;
    align-items: center;
    overflow-x: scroll;
    gap: 10px;
    -ms-overflow-style: none;
    scrollbar-width: none;
    transition: 0.3s all ease-in;
    scroll-behavior: smooth;
}

.popular-products-home::-webkit-scrollbar {

    display: none;
}

.popular-products-wraper{
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.body-home {
    display: inline-grid;
    justify-content: center;
    width: 100%;
    min-height: 737px;
    margin-top: 40px;
}

.horizontal-scroll-right, .horizontal-scroll-left {

    
    width: 50px;
    height: 50px;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    display: inline-flex;
    margin: -22px;
    z-index: 0;
    position: absolute;
    border: 0;
    
    fill: white;
    background-color: #bdbdbd;
}

.horizontal-scroll-left {

    visibility: hidden;
}

.horizontal-scroll-right svg{
    transform: rotate(270deg);
    fill: #ffffff
}

.horizontal-scroll-left svg{
    transform: rotate(90deg);
    fill: #ffffff
}

.horizontal-scroll-right:hover, .horizontal-scroll-left:hover {

    background-color: rgb(153, 153, 153);
    cursor: pointer;    
    
}



@media(max-width:2560px) {
    .body-home{
        justify-content: center;
    }

}
@media ( max-width: 1400px) {

    .horizontal-scroll-left, .horizontal-scroll-right{
        width: 40px;
        height: 40px;
        margin-right: 10px;
        margin-left: 10px
    }
    .popular-products-home{
        width: 770px;
        min-height: 180px;
        margin-top: 0px;
        padding: 10px;
    }
    
}

@media ( max-width: 1024px) {

    .horizontal-scroll-left, .horizontal-scroll-right{
        width: 30px;
        height: 30px;
        margin-right: 10px;
        margin-left: 10px
    }
    .popular-product-item{
        width: 73px;
        height: 150px;
    }
    .popular-products-home{
        width: 408px;
        min-height: 180px;
        margin-top: 0px;
    }
    .home-product-image{
        width: 60px;
        height: 60px;
    }
    .title-popular-products-home{
        font-size: 8px;
    }
    .popular-products-product-name{
        font-size: 8px;
        width: 80px;
    }
}

@media ( max-width: 768px) {
    .popular-products-home{
        width: 330px;
        min-height: 181px;
    }
    .horizontal-scroll-left, .horizontal-scroll-right{
        width: 25px;
        height: 25px;
        margin-right: 10px;
        margin-left: 10px
    }
    .popular-product-item{
        width: 73px;
        height: 150px;
    }
    .popular-products-home{
        width: 228px;
        min-height: 180px;
        margin-top: 0px;
        gap:0px
    }
    .home-product-image{
        width: 60px;
        height: 60px;
    }
    .title-popular-products-home{
        font-size: 8px;
    }
    .popular-products-product-name{
        font-size: 8px;
        width: 80px;
    }
}

@media ( max-width: 480px) {
    .horizontal-scroll-left, .horizontal-scroll-right{
        width: 25px;
        height: 25px;
        margin-right: 0;
        margin-left: 0;
        margin:-14px;
    }
    .body-home {
        justify-content: center;
    }
    .popular-products-home{
        width: 228px;
        min-height: 181px;
        padding: 0;
    }
    .title-popular-products-home{
        font-size: 8px;
    }
    .popular-product-item{
        width: 75px;
        height: 200px;
        box-shadow: 0 0px 0px 1px #00000026;
        padding: 1px;
        margin-left: 2px;
        margin-right: 2px;
    }
    .home-product-image{
        width: 60px;
        height: 60px;
    }
    .popular-products-product-name{
        font-size: 8px;
        width: 80px;
        
    }
    .navigate-product-type-home{
        height: 15px;
        width: 45px;
        font-size: 7px;
    }
    .tvs-card-image, .home-card-image{
        width: inherit;
        height: 70px;
    }
    .tvs-card,.home-card{
        height: 120px;
        width: 100px;
    }
    .cards-text{
        padding: 10px;
        font-size: 8px;
    }
    .add-to-favorites-container-home{
        top: 21px;
        left: 58px;
        width: 11px;
        height: 11px
    }
    .popular-products-product-name{
        font-size: 6px;
        width: 50px;
        padding: 10px;
    }
    
}