.cards-container{
    justify-content: center;
    display: inline-flex;
    gap: 35px;
}

.cards-text{
    font-size: 29px;
    color: white;
    font-family: sans-serif;
}

.tvs-card, .home-card{

    background-color: #cfcece;
    height: 600px;
    width: 800px;
    border-radius: 20px;
    font-size: 35px;
    justify-content: center;
    display: grid;
    text-align: center;
    justify-items: center;
}

.tvs-card-image, .home-card-image{

    width: 800px;
    height: 500px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}
.popular-products-product-name{

    text-align: left;
    font-size: 15px;
    font-family: sans-serif;
    width: 183px;
    padding-left: 20px;
    padding-right: 20px;
}

.home-product-image{

    width: 140px;
    height: 140px;
    border-radius: 15px;
    margin-top: 20px;
}

.title-popular-products-home{

    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: left;
    font-size: 17px;
    margin-left: 40px;
    font-weight: bold;
    padding-top: 30px;
    padding-bottom: 30px;

}

.popular-product-item {

    text-align: center;
    width: 220px;
    height: 370px;
    background-color: #edeeef;
    box-shadow: rgb(0 0 0 / 99%) 8px -11px 28px -14px;
}

.popular-products-home {
    
    display: inline-flex;
    min-height: 300px;
    width: 1370px;
    align-items: center;
    overflow-x: scroll;
    gap: 10px;
    -ms-overflow-style: none;
    scrollbar-width: none;
    transition: 0.3s all ease-in;
    scroll-behavior: smooth;
    box-shadow: rgb(0 0 0 / 80%) 0px 4px 24px -14px;
}

.popular-products-home::-webkit-scrollbar {

    display: none;
}

.popular-products-wraper{
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.body-home {
    display: inline-grid;
    justify-content: center;
    width: 100%;
    min-height: 737px;
    margin-top: 40px;
}

.horizontal-scroll-right, .horizontal-scroll-left {

    
    width: 50px;
    height: 50px;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    display: inline-flex;
    margin: -22px;
    z-index: 3;
    position: absolute;
    border: 0;
    
    fill: white;
    background-color: #bdbdbd;
}

.horizontal-scroll-left {

    visibility: hidden;
}

.horizontal-scroll-right svg{
    transform: rotate(270deg);
    fill: #ffffff
}

.horizontal-scroll-left svg{
    transform: rotate(90deg);
    fill: #ffffff
}

.horizontal-scroll-right:hover, .horizontal-scroll-left:hover {

    background-color: rgb(153, 153, 153);
    cursor: pointer;    
    
}



@media(max-width:2560px) {
    .body-home{
        justify-content: center;
    }

}
@media ( max-width: 1400px) {

    .horizontal-scroll-left, .horizontal-scroll-right{
        width: 40px;
        height: 40px;
        margin-right: 10px;
        margin-left: 10px
    }
    .popular-products-home{
        width: 770px;
        min-height: 180px;
        margin-top: 0px;
    }
    
}

@media ( max-width: 1024px) {

    .horizontal-scroll-left, .horizontal-scroll-right{
        width: 30px;
        height: 30px;
        margin-right: 10px;
        margin-left: 10px
    }
    .popular-product-item{
        width: 73px;
        height: 150px;
    }
    .popular-products-home{
        width: 408px;
        min-height: 180px;
        margin-top: 0px;
    }
    .home-product-image{
        width: 60px;
        height: 60px;
    }
    .title-popular-products-home{
        font-size: 8px;
    }
    .popular-products-product-name{
        font-size: 8px;
        width: 80px;
    }
}

@media ( max-width: 768px) {
    .popular-products-home{
        width: 330px;
        min-height: 181px;
    }
    .horizontal-scroll-left, .horizontal-scroll-right{
        width: 25px;
        height: 25px;
        margin-right: 10px;
        margin-left: 10px
    }
    .popular-product-item{
        width: 73px;
        height: 150px;
    }
    .popular-products-home{
        width: 320px;
        min-height: 180px;
        margin-top: 0px;
    }
    .home-product-image{
        width: 60px;
        height: 60px;
    }
    .title-popular-products-home{
        font-size: 8px;
    }
    .popular-products-product-name{
        font-size: 8px;
        width: 80px;
    }
}

@media ( max-width: 480px) {
    .horizontal-scroll-left, .horizontal-scroll-right{
        width: 25px;
        height: 25px;
        margin-right: 10px;
        margin-left: 10px
    }
    .body-home {
        justify-content: center;
    }
    .popular-products-home{
        width: 235px;
        min-height: 181px;
    }
    .title-popular-products-home{
        font-size: 8px;
    }
    .popular-product-item{
        width: 73px;
        height: 150px;
    }
    .popular-products-home{
        width: 236px;
        min-height: 180px;
        margin-top: 0px;
    }
    .home-product-image{
        width: 60px;
        height: 60px;
    }
    .popular-products-product-name{
        font-size: 8px;
        width: 80px;
    }
}