.button-title-results-wraper{
    align-items: center;
    display: inline-flex;
    gap: 15px;
}

.search-product-image{
    width: 200px;
    height: 200px;
    border-radius: 10px;
    padding-top: 40px;
}

.results-container{
    display: grid;
    
}
.product-name-search  {
    text-align: left;
    font-size: 17px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    width: 250px;
    padding-left: 20px;
}

.product-price-search {
    
    font-family: Bogle,Helvetica Neue,Helvetica,Arial,sans-serif;
    font-size: 15px;
    font-weight: 200;
    width: 98px;
    height: 20px;
    margin-top: 30px;
    text-align: left;
    color: #123944;
    padding-left: 20px;
}
.button-product-add:hover {

    background-color: rgb(12, 162, 226);
    color: aliceblue;
    cursor: pointer;
}
.button-product-add {

    background-color: rgb(49 144 187);
    border-radius: 30px;
    text-align: center;
    justify-items: right;
    font-size: 18px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-left: -73px;
    width: 75px;
    height: 30px;
    border: 0;
    color: #ffffff;
    box-shadow: rgb(0 0 0 / 80%) 0px 0px 3px -1px;
}

.results {
    display: inline-grid;
    margin-top: 40px;
}
.title-results {

    display: inline-flex;
    width: 300px;
    align-items: center;
    gap: 10px;
}

.products-list-container {
    
    display: inline-flex;
    flex-wrap: wrap;
    gap: 20px;
    margin-bottom: 40px;
    border-radius: 20px;
    margin-top: 20px;
    align-content: center;
    justify-content: left;
    width: 100%;
}

.product-item {

    text-align: center;
    border-radius: 5px;
    background-color: #edeeef;
    width: 310px;
    height: 440px;
    box-shadow: rgb(0 0 0 / 80%) 0px 8px 28px -20px;
}

.no-results {

    display: inline-flex;
    margin-top: 100px;
    margin-left: 80px;
    min-height: 637px;
    text-align: center;
    color: black;
    background-color: rgb(255, 255, 255);
    font-size: 11px;
    text-align: center;
    justify-content: center;

}

.container-margin-10px {

    margin: 10px;
    display: inline-flex;
    flex-wrap: wrap;
    gap: 3px;
}

@media(max-width: 2460px) {

    .products-list-container{
        height: fit-content;
    }
    .button-title-results-wraper{
        height: 30px;
        gap: 900px;
    }
    .results-container{
        display: block;
    }
}

@media(max-width: 1024px) {

    .button-title-results-wraper{
        width: 300px;
        justify-content: left;
        display: inline-flex;
        gap: 10px;
    }
    .button-product-add{
        width: 75px;
        height: 30px;
        font-size: 14px;
    }
    .product-price-search{
        font-size: 14px;
        margin-top: 10px;
    }
}

@media( max-width: 768px) {

    .button-title-results-wraper{
        width: 300px;
        justify-content: left;
        display: inline-flex;
        gap: 10px;
    }
    .button-product-add{
        width: 75px;
        height: 30px;
        font-size: 14px;
    }
    .product-price-search{
        font-size: 12   px;
        margin-top: 10px;
    }
}

@media( max-width: 480px){

    .results-container{
        height: fit-content
    }
    .products-list-container{
        justify-content: left;
    }
    .button-product-add{
        width: 23px;
        height: 13px;
        font-size: 8px;
        margin-left: -23px;
    }
    .product-price-search{
        font-size: 8px;
        margin-top: 10px;
    }
    .skeleton-image{
        width: 60px;
        height: 60px;
    }
    .skeleton-text{
        height: 5px
    }
    .search-product-image{
        width: 60px;
        height: 60px;
    }
    .title-results{

        height: 10px;
        font-size: 10px;
        width: 300px;
        margin-top: 0;
    }
    .results{
        margin-top: 0;
    }
    .product-item{
        width: 60px;
        height: 170px;
    }
    .product-name-search{
        width: 69px;
        font-size: 7px;
    }
    .button-title-results-wraper{
        width: 300px;
        justify-content: left;
        display: inline-flex;
        gap: 10px;
    }
}



