
.field-error-container{
    color: red;
    font-size: 14px;
    font-family: serif;
    font-weight: 500;
    width: 308px;
    justify-content: center;
    display: inline-flex;
    gap: 1px;
    flex-direction: column;
    align-items: center;
}

.field-error-container label {
    width: 308px;
    margin-left: 50px;
}

.field-error-container label:nth-child(1){
    margin-left: 7px;
    margin-bottom: 5px;
}

.register-text{
    font-weight: 500;
    font-size: 19px;
    font-family: serif;
    padding-top: 20px;
    color: rgb(128, 129, 129);
}

.register-inputs-container {
    gap: 20px;
    display: inline-grid;
    align-items: center;
    justify-content: center;
    justify-items: center;
    width: 400px;
    height: fit-content;
    box-shadow: 0px 0px 5px 4px #00000026;
    border-radius: 10px;
    align-content: center;
}

.register-inputs-container input{
    width: 300px;
    height: 30px;
    border-radius: 5px;
    color: rgb(46, 44, 44);
    border: 0;
    box-shadow: rgb(123 122 122 / 65%) 0px 0px 3px 1px;
}

.register-inputs-container input:last-child {

    margin-bottom: 50px;
}
.register-inputs-container input:focus {
   
    outline: 0.1px solid rgb(201, 201, 201);
    
}

.body-register{
    width: 100vw;
    height: 89vh;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.register-window-submit-button{
    background-color: rgb(34, 133, 199);
    width: 100px;
    height: 35px;
    color: white;
    border-radius: 5px;
    align-items: center;
    display: inline-flex;
    justify-content: center;
    cursor:pointer;
    font-size: 18px;
    font-family: serif;
    box-shadow: rgba(32, 33, 36, 0.28) 0px 1px 6px 0px;
    border: 0;
    margin-bottom: 30px;
}

@media ( max-width: 480px) {
    .body-register{
        height:661px;
        align-items: baseline;
    }
    .register-inputs-container{
        box-shadow:none;
    }
    .register-inputs-container input:nth-child(6){
        width: 268px;
        height: 32px;
    }
    .register-inputs-container input{
        width: 265px;
        height: 30px
    }
}