
.all-pages-container{
    display: flex;
    justify-content: center;
    gap: 7px;
}
.page-selected{

    background-color: rgb(49 144 187);
    color: #ffffff;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    font-size: 23px;
    font-family: system-ui;
    width: 45px;
    height: 45px;
    display: inline-flex;
    font-weight: 700;
    cursor:pointer
}
.page-item-container{

    border-radius: 50%;
    align-items: center;
    justify-content: center;
    font-size: 23px;
    font-family: system-ui;
    width: 45px;
    height: 45px;
    display: inline-flex;
    background-color: transparent;
    color: #1c7fbb;
    font-weight: 700;
    cursor:pointer
}

.order-by-container{

    display: flex;
    width: 65px;
    height: 23px;
    font-size: 12px;
    background-color: #efefef;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    color: #585858;
    font-family: sans-serif;
    font-weight: 600;
    border: 0.01px solid #d7d7d712;
    box-shadow: rgb(0 0 0 / 90%) 0px 0px 2px -1px;
}

.show-order-by-options{
    width: 20px;
    height: 20px;
}

.order-by-options-list{

    justify-content: left;
    width: 170px;
    height: 190px;
    align-items: center;
    background-color: #edeeef;
    display: inline-grid;
    text-align: left;
    margin-left: -60px;
    margin-top: 25px;
    border-radius: 5px;
    position: absolute;
    box-shadow: rgb(0 0 0 / 90%) 0px 0px 5px -2px;

}

.order-by-active{

    color: rgb(11 138 138);
    background-color: transparent;
}

.order-by-option{

    
    margin-left: 10px;
    display: inline-flex;
    gap: 5px;
    align-items: center;
    width: inherit;
    font-size: 15px;

}
.body-search{
    width: 100%;
}

.body-container-search {

    height: auto;
    display: flex;
    min-height: 738px;
    background-color: transparent;
    
}

.body-container-without-filter {

    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    background-color: transparent;
}



@media( max-width: 1000px){

    .body-container-search{
        width: 600px;
        margin-top: 32px;
    }
    .body-search{
        justify-content: center;
        display: inline-flex;
    }
}

@media( max-width: 770px){

    .body-container-search{
        width: 400px;
        margin-top: 32px;
    }
    .body-search{
        justify-content: center;
        display: inline-flex;
    }
}

@media( max-width: 425px){

    .body-container-search{
        width: 300px;
    }
    .body-search{
        justify-content: center;
        display: inline-flex;
        margin-top: 8px;
    }
}