.user-options-windows { 

    width: 300px;
    height: 200px;
    border-radius: 20px;
    background-color: #edeeef;
    right: 20px;
    position: absolute;
    top: 99px;
    box-shadow: 0 1px 2px 1px #00000026;
    z-index: 991;
    overflow: hidden;
}   

.log-out {

    border-radius: 5px;
    gap: 10px;
    position: absolute;
    bottom: 0;
    display: inline-flex;
    margin-left: 45px;
    margin-bottom: 45px;
    width: 100px;
    border: 0.1px solid black;

}
.log-out:hover, .manage-account:hover {

    cursor: pointer;
    background-color: rgb(203, 205, 207);
    box-shadow: 0 1px 2px 1px #00000026;
}

.logout-text {

    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 16px;
}

.privacy-policy-link,.conditions-link {

    font-size: 15px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: black;
}

.privacy-conditions-container {

    gap: 5px;
    align-items: center;
    position: absolute;
    bottom:0;
    display: inline-flex;
    margin-left: 45px;
    margin-bottom: 20px;

}

.user-image-medium {

    margin-left: 10px;
    margin-top:  10px;
    width: 60px;
    height: 60px;
    border-radius: 50%;
}

.manage-account {

    top: 0;
    display: inline-flex;
    align-items: center;
    height: 29px;
    width: 166px;
    position: absolute;
    margin-left: 80px;
    margin-top: 82px;
    font-size: 16px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border-radius: 5px;
    border: 0.3px solid black;
    text-align: center;
    justify-content: center;

}

.user-info {
    position: absolute;
    margin-left: 80px;
    margin-top: 20px;
    font-size: 16px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    top: 0;
}


