

.user-account-review-wrapper{
    border: 1px solid #d5d5d5;
    border-radius: 10px;
    padding: 1rem;
}

.all-reviews-product-name{
    font-size: 17px;
    color: #000000;
    font-family: serif;
    width: 100%;
    line-height: 1.5rem;
}

.all-reviews-product-image{
    width: 100%;
    height: auto;
    min-width: 170px;
    max-width: 170px;
}

.user-account-review-text{

    font-size: 18px;
    color: rgb(49 144 187);
    font-family: serif;
    font-weight: 400;
}
.user-account-review-info{
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 2rem;
    box-shadow: rgba(0, 0, 0, 0.89) 0px 1px 5px -3px;
    padding: 2rem;
    width: 100%;
}
.user-account-review-right-panel{
    display: inline-grid;
    gap: 0.6rem;
}

.user-account-reviews{
    margin-left: 4rem;
    gap: 2rem;
    display: inline-flex;
    flex-direction: column;
    width: 80%;
    overflow-y: hidden;
    height: auto;
    padding: 1rem;
}
.user-account-review-item{
    display: inline-flex;
    text-decoration: none;
}
.user-account-review-item a {
    text-decoration: none;
    color: black;
}

.all-favorites-container{
    margin-left: 4rem;
    gap: 1rem;
    display: grid;
    padding: 1rem;
    width: 80%;
}
.active-option{
    background-color: rgb(97, 99, 99);
    color: white;
}

.all-favorites-product-item{
    box-shadow: rgba(0, 0, 0, 0.89) 0px 1px 5px -3px;
    padding: 2rem;
}

.all-favorites-product-item a{
    text-decoration: none;
}
.all-favorites-product-image{
    width: 15.5%;
    height: auto;
    max-width: 170px;
    min-width: 170px;
}

.all-favorites-name-image{
    width: 100%;
    display: flex;
    align-items: center ;
    justify-content: left;
    gap: 1rem;
}
.all-favorites-product-name{

    font-size: 17px;
    color: #000000;
    font-family: serif;
    width: 50%;
    

}
.update-info-button{
    background-color: rgb(34, 133, 199);
    color: white;
    border-radius: 5px;
    align-items: center;
    display: inline-flex;
    justify-content: center;
    cursor: pointer;
    font-size: 15px;
    font-family: serif;
    padding: 10px;
    border: 0;
    
}

.update-info-button:hover{
    background-color: #457eb4;
    cursor: pointer;
}
.account-management-data{
    
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    margin-left: 4rem;
    margin-top: 4rem;
    gap:1rem;

}
.account-management-data input{
    width: 70%;
    height: 2rem;
    border-radius: 5px;
}

.user-account-profile-image-container{

    justify-content: center;
    display: flex;
    align-items: center;
    margin-top: 0.5rem;
}

.user-account-image-big-res{
    margin-left: 4rem;
}

.account-management-info label{
    font-size: 3.5rem;
    font-family: serif;
    color: white;

}
.account-info-page{
    width: 95%;
    margin-top: 4rem;
    height: auto;
}
.acccount-info-profile-image{
    width: 9rem;
    height: auto;
    border-radius: 50%;
    
}

.manage-account-page{
    display: flex;
    width: 99vw;
    height: auto;
    min-height: 99vh;
}

.user-account-management-title{
    width: 100%;
    font-size: 20px;
    align-items: center;
    justify-content: center;
    display: flex;
    font-family: serif;
    border-bottom: 0.1rem solid #ccc9c9;
    padding-bottom: 0.4rem;
}
.user-account-mobile-navigate{

    box-shadow: rgba(0, 0, 0, 0.89) 0px 1px 5px -3px;
    width: 95%;
    margin-top: 4rem;
    justify-content: center;
    display: inline-grid;
    padding-bottom: 1rem;
    padding-top: 1rem;

}
.manage-account-options{

    display: inline-flex;
    flex-direction: column;
    width: 25%;
    background-color: var(--background-card);
    box-shadow: 0px 0 12px 0px #fff;
    z-index: 0;
    margin-left: 3rem;
    margin-top:  4rem;
}

.account-options-item{
    font-size: 18px;
    font-family: serif;
    font-weight: 400;
    border-bottom: 0.1rem groove rgb(139, 139, 139);
    align-items: center;
    justify-content: left;
    text-align: center;
    display: flex;
    width: 100%;
    height: 3rem;
}

.account-options-item:hover{
    cursor: pointer;
    background-color: rgb(97, 99, 99);
    color: white
}

.account-options-item label{
    margin-left: 3rem;
}

.configuration-panel{
    width: 75%;
    align-items: center;
    display: inline-flex;
    flex-direction: column;
    background-color: #ffffff;
}

.user-account-svg-mobile{
    width: 27px;
    height: 27px;
    border-radius: 5px;
    stroke-width: 0;
    padding: 0.2rem;
    display: grid;
    background-color: transparent;
    border: 0.1rem solid #929292;
    fill: #9d9d9d;
}

.user-account-svg-active{
    fill: black;
    width: 27px;
    height: 27px;
    border-radius: 5px;
    stroke-width: 0;
    padding: 0.2rem;
    display: grid;
    background-color: transparent;
    border: 0.1rem solid #929292;
    fill: black;
}

@media (min-width:280px) and (max-width:950px) {
    

    .manage-account-options{
        display: inline-flex;
        flex-direction: row;
        gap: 0.2rem;
        justify-content: center;
        margin-left: 0;
        width: 100%;
        padding: 0.3rem;
        margin-top: 0;
    }

    .manage-account-page{
        flex-direction: column;
        align-items: center;
        height: auto;
        min-height: 99vh;
    }
    .account-management-data{
        margin-left: 0;
        width: 100%;
    }
    .account-management-data input ,.configuration-panel{
        width: 95%;
    }
    .account-info-page{
        margin-top: 2rem;
        justify-content: center;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .all-reviews-product-image{
        min-width: 192px;
        max-width: 192px;
    }
    .all-favorites-container{
        margin-left: 0;
    }
    .all-favorites-name-image{
        flex-direction: column;
    }
    .all-favorites-product-name{
        width: auto;
    }
    .user-account-review-info{
        flex-direction: column;
        width: 100%;
        align-items: center;
    }
    .user-account-review-item a{
        width: 100%;
        justify-content: center;
        display: inline-grid;
    }
    .user-account-reviews{
        margin-left: 0;
        width: auto;
    }
    .account-management-profile{
        margin-left: 0;
    }
    .configuration-panel{
        margin-top: 1rem;
    }
}